header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

.top-space-height {
    display: block;
    height: 5.5rem;
}

.top-space-low {
    display: block;
    height: 3rem;
}

/*返回按钮*/
.back-btn {
    display: block;
    width: .7rem;
    height: 1.6rem;
    position: absolute;
    top: .8rem;
    left: .8rem;
    background-size: cover;
}

/*顶部名字*/
.head-title {
    font-size: 1.1rem;
    color: #333;
    font-weight: normal;
    text-align: center;
}

/*右侧按钮公共样式*/
.right-btn {
    display: block;
    position: absolute;
    top: .8rem;
    right: .8rem;
    width: 1.4rem;
    height: 1.4rem;
    background-size: cover;
}

/*搜索框*/
#search-input {
    width: calc(100% - 10rem);
    height: 1.6rem;
    display: block;
    margin: .5rem auto;
    text-align: left;
    border: 0;
    outline: none;
    padding-left: 3rem;
    cursor: pointer;
    font-size: .8rem;
    color: #424242;
    border-radius: .8rem;
    background: url("../img/search.svg") 1rem no-repeat rgba(240, 240, 240, .9);
    background-size: 20px 25px;
}

/*底部导航栏空白*/
.bottom-space {
    width: 100%;
    height: 3.1rem;
    text-align: center;
    font-size: .5rem;
    color: #cccccc;
}

/*底部导航栏*/
.bottom-bar {
    width: 100%;
    height: 3.1rem;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-top: 1px #ddd solid;
}

/*底部导航栏图标*/
.bottom-bar a {
    text-align: center;
    float: left;
    width: 20%;
    height: 3.1rem;
    text-decoration: none;
}

/*底部导航栏文字*/
.bottom-bar p {
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 2rem;
    color: #6f6f6f;
    font-size: .6rem;
}

/*选中时的文字*/
.this-page p {
    color: #feba33;
!important;
}

/*******************************************************/
.home {
    background-image: url(../img/home-no.svg);
    background-size: auto 1.4rem;
    background-repeat: no-repeat;
    background-position: 50% .5rem;
}

.classify {
    background-image: url(../img/classify-no.svg);
    background-size: auto 1.4rem;
    background-repeat: no-repeat;
    background-position: 50% .5rem;
}

.gold {
    background-image: url(../img/integral-no.svg);
    background-size: auto 1.4rem;
    background-repeat: no-repeat;
    background-position: 50% .5rem;
}

.shopping {
    background-image: url(../img/shopping-no.svg);
    background-size: auto 1.4rem;
    background-repeat: no-repeat;
    background-position: 50% .5rem;
}

.my {
    background-image: url(../img/my-no.svg);
    background-size: auto 1.4rem;
    background-repeat: no-repeat;
    background-position: 50% .5rem;
}

/******/
.this-home {
    background-image: url(../img/home-yes.svg) !important;
}

.this-classify {
    background-image: url(../img/classify-yes.svg) !important;
}

.this-gold {
    background-image: url(../img/integral-yes.svg) !important;
}

.this-shopping {
    background-image: url(../img/shopping-yes.svg) !important;
}

.this-my {
    background-image: url(../img/my-yes.svg) !important;
}

/* ==========================================================================
  首页样式
   ========================================================================== */
.back-btn {
    background-image: url("../img/back-orange.svg");
}

.right-btn {
    background-image: url("../img/message-orange-no.svg");
}

/*设置banner图大小*/
.banner-img img {
    width: 100%;
}

/*中间分类按钮*/
.option-bar {
    overflow: hidden;
}

/*设置按钮下方字体样式*/
.option-bar a {
    text-align: center;
    float: left;
    width: 25%;
    height: 5.3rem;
    text-decoration: none;
}

.option-bar p {
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 3.6rem;
    color: #424242;
    font-size: .8rem;
}

/*按钮图片*/
#skirt {
    background-image: url(../img/liping-zhuanqv.svg);
    background-size: auto 2.3rem;
    background-repeat: no-repeat;
    background-position: 50% .7rem;
}

#stationery {
    background-image: url(../img/ti-zhi-neng.svg);
    background-size: auto 2.3rem;
    background-repeat: no-repeat;
    background-position: 50% .7rem;
}

#feeder {
    background-image: url(../img/chuangyi-wanjv.svg);
    background-size: auto 2.3rem;
    background-repeat: no-repeat;
    background-position: 50% .7rem;
}

#food {
    background-image: url(../img/qimeng-xvexi.svg);
    background-size: auto 2.3rem;
    background-repeat: no-repeat;
    background-position: 50% .7rem;
}

/*灰色空白条*/
.space {
    width: 100%;
    height: .3rem;
    background-color: #efefef;
}

.swiper-container-x {
    margin: .5rem !important;
}

.ad img {
    width: 100%;
}

.shop-li-title {
    font-size: 1rem;
    display: block;
    margin: .7rem auto;
    width: 4rem;
    /*height: .8rem;*/
    border: 1px solid #feba33;
    border-radius: .3rem;
    color: #feba33;
    line-height: .8rem;
    padding: .2rem;
}

.shop-li-title:after {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    float: right;
    background-size: cover;
    position: absolute;
    left: calc(50% + 2.5rem);
}

.today-news:after {
    background-image: url("../img/today-news.svg");
}

.shop-li-news {
    padding: .7rem .7rem 0;
    background-color: #f6f6f6;
    overflow: hidden;
}

/*商品列表*/
.home-goods {
    width: calc(50% - .4rem);
    /*border: 1px solid #c3c3c3;*/
    margin-bottom: .5rem;
    padding-bottom: .3rem;
    background-color: #fff;

}
.home-goods.goods-left{margin-left:0.4rem;}

.home-goods img {
    width: 100%;
}

.goods-title {
    /*height: 2rem;*/
    font-size: .6rem;
    color: #333;
    padding: .5rem .5rem .7rem;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-number:before {
    content: '￥';
    color: #d81e06;
    font-size: 1.1rem;
    padding-left: .2rem;
}

.price-number {
    font-size: .9rem;
    color: #d81e06;
    /*line-height: 2.5rem;*/
}

.price > .price-number:after {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
}

.price > p {
    font-size: .7rem;
    color: #dbdbdb;
    margin: 0;
}

.chakan:before {
    content: '';
    display: block;
    float: left;
    width: 1rem;
    height: .7rem;
    margin: .2rem .3rem;
    background-image: url("../img/check.svg");
    background-size: cover;
}

.price .chakan {
    float: left;
}

.price .fukuai-num {
    float: right;
    padding: 0 .5rem;
}

.goods-left {
    float: left;
    /*margin-left: .7rem;*/
}

.goods-right {
    float: right;
    /*margin-right: .7rem;*/
}

.piece-vip {
    margin-bottom: .2rem !important;
}

.piece-vip:after {
    background-image: url("../img/piece-vip.svg");
}

/******************************************/
.home-piece ul {
    padding: 0;
    margin: 0;
}

.home-piece .piece-li {
    list-style: none;
    overflow: hidden;
}

.home-piece .piece-li img {
    width: 6.2rem;
    height: 6.2rem;
    float: left;
    border-radius: .3rem;
    margin: .6rem;
}

.home-piece .piece-li h6:before {
    content: '拼';
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff0000;
    text-align: center;
    line-height: 1.4rem;
    width: 1.6rem;
    height: 1.4rem;
    display: block;
    border-radius: .3rem;
    float: left;
    margin-right: .5rem;
}

.home-piece .piece-li h6 {
    font-size: .7rem;
    line-height: 2rem;
    color: #333;
    padding: .5rem .5rem .7rem 0;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    white-space: nowrap;
}

.home-piece .piece-li p {
    margin: 0;
    display: inline;
    font-size: .7rem;
    color: #dbdbdb;
}

.home-piece .piece-li > .price-number {
    display: block;
}

.home-piece .piece-li .chakan {
    float: left;
    margin: .8rem 0;
}

.home-piece .piece-li .fukuai-num {
    float: right;
    margin: .8rem;
}

/*.more-title{*/
/*margin: .9rem 0 .9rem .8rem;*/
/*padding-left: .8rem;*/
/*font-size: .9rem;*/
/*color: #454545;*/
/*border-left: .2rem #feba33 solid;*/
/*}*/
/*.more-img{*/
/*display: block;*/
/*overflow: hidden;*/
/*width: 93%;*/
/*height: 0;*/
/*padding-bottom: 40%;*/
/*margin:0 auto 1rem;*/
/*background-size: cover;*/
/*background-position:center;*/
/*}*/
/* ==========================================================================
  分类样式
   ========================================================================== */
.right-btn {
    background-image: url("../img/message-orange-no.svg");
}

/*左侧菜单栏*/
.menu-item {
    padding-top: 3rem;
    width: 5rem;
    height: 100%;
    position: fixed;
    top: 2.7rem;
    /*margin-left: .8rem;*/
    pointer-events: none;
    z-index: 9;
    background-color: #f8f8f8;
}

/*菜单栏中的按钮*/
.menu-item a {
    display: block;
    line-height: 2.4rem;
    font-size: .87rem;
    color: #424242;
    text-align: center;
    text-decoration: none;
    pointer-events: auto;
}

/*按钮被选中时的样式*/
.this-item {
    color: #fbb01f !important;
    border-left: 2px #f8a740 solid !important;
    background-color: white;
}

.menu-item-space {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}

/**排序栏**/
.sort {
    overflow: hidden;
}

.sort > a {
    text-align: center;
    float: left;
    width: 33.3%;
    color: #333333;
    text-decoration: none;
    line-height: 2.5rem;
}

.sort > a:nth-child(2) > img {
    width: .6rem;
    height: .8rem;
    position: absolute;
    line-height: 2.5rem;
    margin: .9rem .4rem;
}

.sort .this-sort {
    color: #ffa500;
}

/*分类标题*/
.real-time {
    font-size: .87rem;
    color: #424242;
    line-height: 2.1rem;
    margin: .4rem .6rem .4rem 5.5rem;
    display: block;
    border-radius: .47rem;
    background-color: #f8f8f8;
    padding: 0 .4rem;
}

.classify-shopping {
    margin: 0 .6rem 0 5.5rem;
    padding: 1rem .2rem 0 .2rem;
    background-color: #f8f8f8;
    overflow: hidden;
    border-radius: .47rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.classify-shopping a {
    text-align: center;
    width: 4.68rem;
    padding: 0 auto;
    float: left;
    font-size: .74rem;
    color: #424242;
    text-decoration: none;
}

.classify-shopping img {
    width: 75px;
}

/* ==========================================================================
  积分样式
   ========================================================================== */
.top-picture {
    width: 100vw;
    height: 9.7rem;
    text-align: center;
    overflow: hidden;
}

.top-picture img {
    height: 100%;
    width: 100%;
}

/**********************************************/
.jifen-piece ul {
    padding: 0;
    margin: 0;
}

.jifen-piece .piece-li {
    list-style: none;
    /*overflow: hidden;*/
    padding: .6rem .7rem;
    border-bottom: 1px solid #e6e6e6;
}

.jifen-piece .piece-li img {
    width: 6.3rem;
    height: 6.3rem;
    float: left;
    margin-right: .8rem;
}

.jifen-piece .piece-li h6 {
    font-size: .7rem;
    color: #424242;
    font-weight: normal;
    margin: 0 0 1.2rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*white-space:nowrap;*/
}

.integral-jifen-price {
    display: block;
    margin-bottom: .4rem;
}

.jifen-piece .piece-li span {
    font-size: .9rem;
    color: red;
}

.jifen-piece .piece-li .jifen:before {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url("../img/jifen.svg");
    background-size: cover;
    margin-right: .2rem;
    float: left;
}

.jifen-piece .piece-li .jifen:after {
    content: "+";
}

.jifen-piece .piece-li .price-number:before {
    content: "￥";
}

.jifen-piece .piece-li .history-num {
    display: inline;
    margin: .4rem 0 .5rem 0;
    font-size: .6rem;
    color: #6f6f6f;
}

.jifen-piece .piece-li .history-num:before {
    content: "￥";
    font-size: .6rem;
    color: #6f6f6f;
}

.jifen-piece .piece-li .exchange {
    width: 4.1rem;
    height: 1.3rem;
    border-radius: .2rem;
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: .7rem;
    text-align: center;
    line-height: 1.3rem;
    float: right;
}

/*-----------------------------------------------*/
/*分类显示*/
/*--------------------------------------------------*/
.right-btn-search {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: .8rem;
    right: 2.8rem;
    background-size: cover;
    background-image: url("../img/search.svg");
}

.search-bar {
    height: 1.7rem;
    border-radius: .9rem;
    border: 1px solid #b6b6b6;
    margin: .7rem 3rem .7rem 2rem;
    line-height: 1.7rem;
}

.search-bar img {
    width: 1.1rem;
    padding: .3rem .8rem;
}

.search-bar p {
    font-size: .9rem;
    color: #333333;
    margin: 0;
    display: inline;
    position: relative;
    top: -.5rem;
}

/*===================================================================*/
/*详情页面*/
/*===================================================================*/
.banner img {
    width: 100%;
}

.swiper-pagination-datails {
    height: 1.1rem;
    float: right;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    font-size: .9rem;
    border-radius: .2rem;
    width: 2.8rem !important;
    left: auto !important;
    right: .8rem;
}

.top .back {
    display: block;
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    background-size: cover;
    z-index: 3;
    top: .8rem;
    left: .8rem;
    background-image: url("../img/back-aero.svg");
}

ul {
    padding: 0 .8rem;
    margin: 0;
}

li {
    list-style: none;
}

.info {
    margin: .8rem 0;
}

.price-number {
    font-size: 1.1rem;
    color: #fa1627;
    /*margin-right:.4rem ;*/
}

.price-number:before {
    content: "￥";
    font-size: 1.1rem;
    color: #fa1627;
}

.integral {
    font-size: 1.1rem;
    color: #fa1627;
}

.integral:before {
    content: "+";
    font-size: .9rem;
    color: #fa1627;
}

.integral:after {
    content: "积分";
    font-size: .9rem;
    color: #fa1627;
}

.share {
    width: 1.3rem;
    height: 1.4rem;
    padding-top: 0;
    float: right;

}

.past-price {
    color: #929292;
    font-size: .7rem;
    margin-right: .4rem;
}

.info h1 {
    margin: .8rem 4.7rem .8rem 0;
    font-size: 0.7rem;
    font-weight: normal;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.fregith {
    font-size: .6rem;
    color: #6b6b6b;
}

.space {
    width: 100%;
    height: .3rem;
    background-color: #f7f7f7;
}

.center-bar {
    /*padding: .4rem 0;*/
    overflow: hidden;
    border-bottom: .1rem solid #e6e6e6;
}

.bar-btn {
    text-align: center;
    float: left;
    width: calc(50% - 1px);
    line-height: 3.1rem;
    text-decoration: none;
    color: #545454;
}

.bar-btn:nth-child(1) {
    border-right: #e6e6e6 solid 1px;
}

.this-bar-btn {
    color: #feba33;
}

.this-bar-btn:after {
    content: "";
    display: block;
    width: 3.1rem;
    height: .1rem;
    background-color: #febe3f;
    margin: 0 auto;
}

.parm-li {
    /*display: none;*/
}
.shopping-details-img{
    width: 100vw;
    max-height:10000px ;
}

.parameter-li {
    margin: .8rem 0;
    color: #5b5b5b;
    font-size: .5rem;
}

.evaluate {
    display: none;
}

.evaluate li {
    border-bottom: 1px solid #e6e6e6;
    padding: .5rem 0;
}

.evaluate-name {
    font-size: .9rem;
    margin: .2rem 0;
    color: #424242;
    display: inline-block;
}

.evaluate-time {
    float: right;
    color: #545454;
    font-size: .5rem;
}

.evaluate-content {
    font-size: .7rem;
    color: #545454;
    display: block;
}

/**********************************************************/
.shell-mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}

/*************************************************************/
/*****pingdan***********/
.pdd-ul {
    padding: 0;
}

.pdd-ul li {
    border-top: 2px solid #e6e6e6;
    padding: 0 .8rem;

}

.pdd-title {
    border: none !important;
}

.pdd-people-num {
    color: #383838;
    font-size: .9rem;
    line-height: 2.5rem;
}

.pdd-people-num:after {
    content: "人正在拼单，可直接参与";
    color: #383838;
    font-size: .9rem;
}

.pdd-more {
    font-size: .7rem;
    color: #6c6c6c;
    float: right;
    line-height: 2.5rem;
    text-decoration: none;
}

.pdd-more img {
    margin-left: .5rem;
    width: .4rem;
    height: .7rem;
}

.pdd-people-head {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: .8rem 0;
    float: left;
}

.pdd-people-name {
    line-height: 4.1rem;
    margin-left: .5rem;
    color: #333333;
    font-size: .8rem;
}

.pdd-btn {
    margin: 1.3rem 0;
    float: right;
    color: white;
    width: 3.8rem;
    height: 1.4rem;
    background-color: red;
    border-radius: .7rem;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

.pdd-surplus {
    display: inline-block;
    color: red;
    font-size: .7rem;
    float: right;
    margin: 1rem 0 0;
}

.pdd-surplus:before {
    content: '还差';
    color: black;
    font-size: .7rem;
}

.pdd-surplus:after {
    content: '拼成';
    color: black;
    font-size: .7rem;
}

.pdd-count-down {
    font-size: .7rem;
    color: #6c6c6c;
    float: right;
    position: relative;
    top: 2.1rem;
    right: -4rem;
}

.pdd-count-down:before {
    content: "剩余";
    font-size: .7rem;
    color: #6c6c6c;

}

/***********************************/

/***************参与拼单弹出框*************************/
.join-pdd {
    position: fixed;
    top: 40vh;
    left: calc(50% - 7.8rem);
    width: 15.6rem;
    height: 10rem;
    border-radius: .3rem;
    background-color: white;
    overflow: hidden;
    display: none;
    z-index: 50;
}

.join-pdd h1 {
    text-align: center;
    font-weight: normal;
    font-size: .9rem;
    color: #333;
    margin: .8rem;
}

.join-pdd-quota {
    font-size: .7rem;
    display: block;
    color: #6c6c6c;
    text-align: center;
    margin: .1rem 0;
}

.join-pdd-all-head {
    margin: 0 auto;
}

.join-pdd-head {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    /*border: 1px dashed #bbbbbb;*/
    overflow: hidden;
    float: left;
    margin: .7rem;
}

.join-pdd-all-head {
    margin-left: 3.9rem;
}

.join-pdd-head:nth-child(1):before {
    content: "拼主";
    width: 1.9rem;
    height: 1.1rem;
    background-color: #ff9a18;
    color: white;
    border-radius: .2rem;
    font-size: .7rem;
    text-align: center;
    display: inline-block;
    float: left;
    position: absolute;
    left: calc(50% - 4rem);
}

.join-pdd-head img {
    width: 100%;
}

.no-join-pdd-head {
    width: calc(2.5rem - 2px);
    height: calc(2.5rem - 2px);
    border-radius: 50%;
    border: 1px dashed #bbbbbb;
    font-size: 1.5rem;
    color: #bbbbbb;
    text-align: center;
    line-height: 2.5rem;
}

.join-pdd-btn {
    display: block;
    width: 10.9rem;
    height: 1.6rem;
    background-color: red;
    border-radius: .8rem;
    text-align: center;
    font-size: .9rem;
    color: white;
    margin: 0 auto;
    text-decoration: none;
    line-height: 1.6rem;
}

/*****************************************************/
/*****************分享************/
.pdd-share-page {
    width: 60%;
    margin: 0 auto;
    border-radius: .3rem;
    border: 1px solid #e3e3e3;
    position: absolute;
    bottom: 9.6rem;
    left: 20%;
    float: left;
    background-color: white;
}

.pdd-share-page img {
    width: 100%;
}

.pdd-share-page h1 {
    font-size: .7rem;
    color: #424242;
    font-weight: normal;
    margin: .7rem 2.2rem .4rem .7rem;
}

.pdd-share-page span {
    padding-left: .7rem;
}

.pdd-share {
    width: 100%;
    height: 15.2rem;
    background-color: #fff;
    display: none; /*分享隐藏*/
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-top: 1px #ddd solid;
}

.pdd-share-btn {
    height: 3.8rem;
    padding: 1.5rem 4%;
    border-bottom: 1px solid #e6e6e6;
}

.pdd-share a {
    text-align: center;
    float: left;
    width: 25%;
    height: 3.8rem;
    text-decoration: none;
}

.pdd-share p {
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 2.9rem;
    color: #6f6f6f;
    font-size: .6rem;
}

#friendCircle {
    background-image: url(../img/friendCircle-icon.svg);
    background-size: auto 2.8rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#wechat {
    background-image: url(../img/wechat-icon.svg);
    background-size: auto 2.8rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#qq {
    background-image: url(../img/qq-icon.svg);
    background-size: auto 2.8rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#qqzone {
    background-image: url(../img/qqzone-icon.svg);
    background-size: auto 2.8rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#pdd-share-cancel-btn {
    /*height: 2.6rem;*/
    width: 100%;
    font-size: .9rem;
    color: #353535;
    /*text-align: center;*/
    line-height: 2.6rem;
}

/*************************************************/
/*********正在拼单 更多***********************************/
.pdd-more-page {
    max-height: 17rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 68%;
    border-radius: .3rem;
    position: fixed;
    top: 30vh;
    left: 16vw;
    z-index: 50;
    background-color: white;
    display: none; /*拼单查看更多 页面  隐藏*/
}

.pdd-more-page ul {
    padding: 0;
}

.pdd-more-page li:not(:first-child) {
    border-top: 1px solid #bbbbbb;
    padding: .8rem .5rem;
}

.pdd-more-title p {
    font-size: .9rem;
    color: #333333;
    line-height: 2.5rem;
    text-align: center;
    margin: 0;
}

.pdd-more-people-head {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    float: left;

}

.pdd-more-people-name {
    font-size: .9rem;
    display: block;
}

.pdd-more-surplus {
    display: inline-block;
    font-size: .6rem;
    float: right;
    margin: 0;
    color: #6c6c6c;
    position: relative;
    top: -1.2rem;
}

.pdd-more-surplus:before {
    content: '还差';
    color: #6c6c6c;
    font-size: .7rem;
}

.pdd-more-btn {
    position: relative;
    top: -.5rem;
    float: right;
    color: white;
    width: 3.1rem;
    height: 1.4rem;
    background-color: red;
    border-radius: .7rem;
    text-decoration: none;
    line-height: 1.4rem;
    font-size: .7rem;
    text-align: center;

}

.pdd-more-count-down {
    font-size: .6rem;
    color: #6c6c6c;
    /*float: right;*/
    /*position: relative;*/
    /*top: 2.1rem;*/
    /*right: -4rem;*/
}

.pdd-more-count-down:before {
    content: "剩余";
    font-size: .6rem;
    color: #6c6c6c;

}

/*==================================================*/
/******非瓶胆时按钮样式*******************************/
/****************************************/
.bottom-btn {
    width: 100%;
    height: 3.2rem;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-top: 1px #ddd solid;
}

.bottom-btn a {
    text-align: center;
    float: left;
    width: 3.4rem;
    height: 3.4rem;
    text-decoration: none;
}

#customer-service {
    background-image: url(../img/message-orange-no.svg);
    background-size: auto 1.4rem;
    background-repeat: no-repeat;
    background-position: 50% 1rem;
}

.bottom-btn button {
    width: calc(50% - 2.4rem);
    height: 2rem;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .7rem;
    margin: .6rem 0;
    float: right;
}

.left-btn {
    background-color: #ffa900;
    border-radius: .9rem 0 0 .9rem;
}
.left-btn-pdd {
    background-color: #ffa900;
    border-radius: .9rem 0 0 .9rem;
}
.buy-now-btn {
    background-color: #ff7800;
    border-radius: 0 .9rem .9rem 0;
    margin-right: .8rem !important;
}

/**********************************/
/**拼单时按钮样式********************/
.pdd-bottom-btn {
    width: 100%;
    height: 3.2rem;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-top: 1px #ddd solid;
}

.bottom-btn a {
    text-align: center;
    float: left;
    width: 3.4rem;
    height: 3.4rem;
    text-decoration: none;
}

.pdd-bottom-btn button {
    width: calc(50% - .6rem);
    height: 2rem;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .7rem;
    margin: .6rem 0;
    float: right;
}

/*********************************/
/*==============================*/
.collection-success img {
    width: 2.5rem;
    display: block;
    margin: .8rem auto;
}

.collection-success {
    margin: 0 10%;
    border-radius: .8rem;
    padding-top: .4rem;
    padding-bottom: 1.8rem;
    width: 80%;
    position: fixed;
    bottom: 40%;
    z-index: 20;
    font-size: .9rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.choice-data {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.choice-data-content {
    display: none;
    border-radius: .8rem .8rem 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #fff;
}

.hed-icon {
    position: absolute;
    left: .8rem;
    top: -2rem;
    width: 5.7rem;
    height: 5.7rem;
    background-image: url("../img/details1.png");
    background-size: cover;
}

.confirm-btn {
    position: fixed;
    bottom: 0;
    /*bottom: 1rem;*/
    /*width: calc(100% - 2.2rem);*/
    width: 100%;
    /*height: 2.1rem;*/
    height: 3.1rem;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 0 .8rem;*/
    font-size: 1.2rem;
    /*border-radius: .9rem;*/
    background-color: #feac00;
}

.choice-price-number {
    margin-left: 7.3rem;
    margin-top: 1rem;
    display: block;
    color: #f8142a;
}

.choice-parameter {
    margin-left: 7.3rem;
    margin-top: .5rem;
    display: block;
    color: #303030;
}

*[disabled] {
    opacity: .4;
    cursor: no-drop !important
}

.parameter-selection {
    display: block;
}

.parameter-selection > p {
    margin: .5rem .8rem;
}

.parameter-group {
    margin-left: .8rem;
}

.parameter-group h2 {
    margin: 0;
    font-size: .8rem;
    font-weight: normal;
}

.parameter-group > div {
    padding: .4rem;
    float: left;
    margin: .4rem;
    border: 1px solid #d2d2d2;
    background-color: #d2d2d2;
    border-radius: 3px;
}

.parameter-group > div * {
    text-align: center;
}

.parameter-group > div.ack {
    overflow: hidden;
    color: #Fe7a00;
    border: 1px solid #Fe7a00;
    background-color: #fafafa;
}

/*******************************/
#count {
    width: 3.69rem;
    height: 0.94rem;
    vertical-align: middle;
    border: 1px solid #929292;
    border-radius: 0.25rem;
    /*margin-right: 0.5rem;*/
    text-align: center;
    line-height: 0.94rem;
    float: right;
    margin-right: .8rem;

}

.label_pro{
    width:0.7rem;
    height: 0.94rem;
    font-size: 0.75rem;
    margin-bottom: 0;
    font-weight: normal;
    color:#929292 ;
    display:inline-block
}
.label_left{
    border-right:1px solid #929292 ;
}
.label_right{
    border-left:1px solid #929292 ;
}
.input_count{
    text-align: center;
    border: 0;
    width: 1.2rem;
    height: 0.7rem;
    font-size: 0.75rem;
    padding: 0;
    color:#929292 ;
}

/***********************/
.parameter-data {
    /*display: none;*/
    border-radius: .8rem .8rem 0 0;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 60%;*/
    background-color: #fff;
}

.parameter-data h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

.parameter-data li {
    border-bottom: 1px solid #eeeeee;
}

/***************************************************************/
/*发起拼单*/
/***************************************************************/
.exclusive-pdd {
    margin-top: .2rem;
    border-bottom: 1px solid #bbb;
    overflow: hidden;
}

.exclusive-pdd img {
    width: 6.3rem;
    height: 6.3rem;
    float: left;
    /*border-radius: .3rem;*/
    margin: .8rem .6rem;
}

.exclusive-pdd h6:before {
    content: '拼';
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff0000;
    text-align: center;
    line-height: 1.4rem;
    width: 1.6rem;
    height: 1.4rem;
    display: block;
    border-radius: .3rem;
    float: left;
    margin: .5rem .5rem 0 0;
}

.exclusive-pdd h6 {
    font-size: .7rem;
    line-height: 2rem;
    color: #333;
    padding: .5rem .5rem .7rem 0;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.exclusive-pdd-number:before {
    content: "共";
    font-size: .9rem;
    color: #333;
}

.exclusive-pdd-number:after {
    content: "件";
    font-size: .9rem;
    color: #333;
}

.exclusive-pdd-number {
    font-size: .9rem;
    color: #333;
}

.invite {
    font-size: .9rem;
    color: #333;
    display: block;
    text-align: center;
    margin: .8rem 0;
}

.invite-num {
    font-size: .9rem;
    color: red;
}

.invite-num:after {
    content: "人";
    font-size: .9rem;
    color: red;
}

.exclusive-pdd-head {
    margin: .8rem .6rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.join-exclusive-pdd-head {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: .3rem .6rem;
    float: left;
}

.join-exclusive-pdd-head:nth-child(1):before {
    content: "拼主";
    width: 1.9rem;
    height: 1.1rem;
    background-color: #ff9a18;
    color: white;
    border-radius: .2rem;
    font-size: .7rem;
    text-align: center;
    display: inline-block;
    float: left;
    position: absolute;
    left: .6rem;
}

.join-exclusive-pdd-head img {
    width: 100%;
}

.no-join-exclusive-pdd-head {
    width: calc(2.5rem - 2px);
    height: calc(2.5rem - 2px);
    border-radius: 50%;
    border: 1px dashed #bbbbbb;
    font-size: 1.5rem;
    color: #bbbbbb;
    text-align: center;
    line-height: 2.5rem;
    margin: .3rem .6rem;
    float: left;
}

.exclusive-partake {
    overflow: hidden;
    padding-bottom: 1.5rem;
}

.exclusive-pdd-btn {
    margin: 0 auto;
    color: white;
    width: 95vw;
    height: 2.1rem;
    background-color: red;
    border-radius: 1rem;
    text-decoration: none;
    line-height: 2.1rem;
    font-size: .9rem;
    text-align: center;
    display: block;
}

/*==========================================================*/
/*搜索*/
/*==========================================================*/
.search-page {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.search-frame {
    width: calc(100% - 4.6rem);
    margin: .8rem 0 auto .5rem;
    border-radius: .8rem;
    border: 1px solid #6b6b6b;
    display: inline-block;
    height: 1.7rem;
}

.search-frame img {
    width: 1.1rem;
    margin: .3rem .4rem .3rem .8rem;
    border-right: 1px solid #6b6b6b;
    padding-right: .4rem;
}

.input-group input {
    line-height: .9rem;
    border: 0;
    position: absolute;
    outline: none;
    width: calc(100% - 8rem);
}

#search {
    display: none;
}

#cancel {
    color: #585858;
    font-size: 1.1rem;
    text-decoration: none;
    padding: .8rem;
    float: right;
    margin: 0;
    border: none;
}

.bold-title {
    font-weight: bold;
    display: block;
    margin: .9rem 0;
}

#empty {
    float: right;
    font-size: 1.1rem;
    width: .8rem;
    height: .9rem;
    background-image: url("../img/trash.svg");
    background-size: cover;
    position: relative;
    top: -1.9rem;

}

#history {
    display: flex;
    flex-wrap: wrap;

}

.search-find-line {
    margin: .8rem 0;
}

.search-find-line a {
    text-decoration: none;
    font-size: .9rem;
    border-radius: .8rem;
    padding: .2rem .5rem;
    margin: .3rem;
}

.search-find-first-line a {
    color: #fa9537;
    border: 1px solid #fa9537;
}

.search-find-second-line a {
    color: #333333;
    border: none;
    background-color: #e6e6e6;
}

.common-class a {
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    border-radius: 50%;
    color: #333333;
    padding: .5rem;
    background-color: #e6e6e6;
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    float: left;
    margin-right: .8rem;
}

/*************************/
.association-li {
    margin-top: 3rem;
    z-index: 10;
    width: 100vw;
    position: fixed;
    font-size: .9rem;
    color: #333333;
    top: 0;
    background-color: #fff;
    height: calc(100vh - 3rem);
    display: none;
}

.association-li ul {
    padding: 0 .8rem;
    margin: 0;
}

.association-li li {
    line-height: 2.5rem;
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
}

/*====================================================*/
/*客服*/
/*====================================================*/
.chat-record {
    min-height: calc(100vh - 6rem);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.chat-record li {
    list-style: none;
    padding: .4rem .7rem;
    overflow: hidden;
}

.chat-record li .all-head {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.chat-record li .all-center {
    border-radius: .3rem;
    display: inline-block;
    margin: .5rem 1rem 0;
    max-width: 60%;
    padding: .5rem;
}

.chat-record li .all-center:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
}

.chat-record li .all-center p {
    margin: 0;
    height: auto;
    word-wrap: break-word;
}

.chat-record-bottom-space {
    height: 3.1rem;
}

/*****************************************************/
.choice-order-shade {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    bottom: 0;
    z-index: 6;
    display: none;
}

.choice-order {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 20;
    background-color: white;
    max-height: 90vh;
    display: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.choice-order > ul {
    margin: 0;
    padding: 0;
}

.choice-order li {
    list-style: none;
    padding: .4rem .7rem;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.choice-order li p {
    margin: 0;
    text-align: center;
    line-height: 2.5rem;
}

.choice-order h6 {
    font-size: .7rem;
    line-height: 1.5rem;
    color: #333;
    padding: .3rem .5rem .5rem 0;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    white-space: nowrap;
}

.price-number:before {
    content: '￥';
    color: #d81e06;
    font-size: 1.1rem;
    padding-left: .2rem;
}

.price-number {
    font-size: .9rem;
    color: #d81e06;
}

.choice-order-state {
    display: block;
    color: #858585;
    font-size: .7rem;
    margin-top: 1.2rem;
}

.send-btn {
    width: 3.8rem;
    height: 1.6rem;
    float: right;
    background-color: #ff9a18;
    border-radius: .8rem;
    text-decoration: none;
    color: white;
    line-height: 1.6rem;
    text-align: center;
    position: relative;
    bottom: -2.5rem;
}

.close-btn {
    width: .9rem;
    height: .9rem;
    float: right;
    margin: .8rem .4rem;
    background-image: url("../img/close.svg");
    background-size: cover;
}

.choice-order img {
    width: 6.3rem;
    height: 6.3rem;
    border-radius: .3rem;
    float: left;
    margin: .4rem .7rem .4rem 0;
}

/*************RXD***************************/
.rxd .all-head {
    float: left;
}

.rxd .all-center {
    background-color: white;

}

.rxd .all-center:before {
    border-right: 8px solid white;
    float: left;
    left: 3.2rem;
}

/************TXD********************************/
.txd .all-head {
    float: right;
}

.txd .all-center {
    background-color: #ff9a18;
    float: right;

}

.txd .all-center:before {
    border-left: 8px solid #ff9a18;
    float: right;
    right: 3.2rem;
    z-index: 333;
}

/**************************************************/
.input-line {
    height: 3.1rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /*bottom: 6.5rem;*/
    bottom: 0;
    z-index: 2;
}

.emoji {
    margin: 0 .9rem;
    width: 1.1rem;
    height: 1.4rem;
    display: block;
    background-image: url("../img/mic.svg");
    background-size: cover;
}

#chat {
    flex: 1;
    border-radius: .3rem;
    border: 1px solid #eaeaea;
    color: #545454;
    line-height: 1.8rem;
    outline: none;
}

.chat-more-btn-btn {
    margin: 0 .8rem;
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    background-image: url("../img/add.svg");
    background-size: cover;
}

/********************************************************/
.chat-more-btn-block {
    /*display: flex;*/
    height: 6.2rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /*换行*/
    background-color: #f4f4f4;
    padding: .6rem 0 .8rem;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 2;
}

.chat-more-btn {
    text-decoration: none;
    width: 3.4rem;
    min-width: 3.4rem;
    height: 3.4rem;
    border-radius: .3rem;
    border: 1px solid #e6e6e6;
    background-color: white;
    margin: 0 .9rem;
    display: -webkit-flex; /*flex布局*/
    flex-flow: row; /* 自动宽度*/
    justify-content: center; /*水平居中*/
    align-items: center; /*垂直居中*/
}

.chat-more-btn img {
    width: 50%;
    /*position: relative;*/
    /*top: .8rem;*/
}

.chat-more-btn-block span {
    margin: .3rem 0;
    text-align: center;
    width: 3.4rem;
    font-size: .7rem;
    color: #545454;
}

/*===================================*/
/*购物开票*/
/*===================================*/
.no-shopping-history {
    width: 100%;
    height: 5rem;
    text-align: center;
    position: absolute;
    top: 35%;
    display: none; /*没有历史时显示*/
}

.no-shopping-history img {
    width: 3.5rem;
    height: 2.7rem;
}

.no-shopping-history p {
    margin: 1rem 0;
    font-size: .9rem;
    color: #a0a0a0;
}

.have-shopping-history {
    height: 100%;
    background-color: #f8f8f8;
    /*display: none;        !*有历史记录时显示*!*/
}

.have-shopping-history ul {
    margin: .2rem 0 0;
    padding: 0

}

.left-choice-icon-yes {
    background-image: url("../img/yes.png") !important;
}

.left-choice-icon {
    width: 1.1rem;
    height: 1.1rem;
    display: block;
    float: left;
    margin-top: 2rem;
    background-image: url("../img/no.png");
    background-size: cover;
}

.have-shopping-history ul li {
    background-color: white;
    list-style: none;
    overflow: hidden;
    padding: .8rem .6rem .9rem .4rem;
    border-bottom: 1px solid #e6e6e6;
    /*margin-bottom: .8rem;*/
}

.invoice-shopping-time:before {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    margin-right: .7rem;
    background-image: url("../img/clock.svg");
    background-size: cover;
}

.invoice-shopping-time {
    font-size: .7rem;
    color: #545454;
}

.have-shopping-history-head {
    width: 5.6rem;
    height: 5.6rem;
    float: left;
    margin: 0 .6rem 0 .2rem;
}

.have-shopping-history ul li p {
    font-size: .9rem;
    color: #545454;
    font-weight: normal;
    margin: 0 0 2.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-num {
    font-size: .8rem;
    color: #545454;
    display: block;
}

.order-num:before {
    content: "订单号：";
    font-size: .8rem;
    color: #545454;
}

.invoice-shopping-money {
    float: right;
    font-size: 1.1rem;
    color: #2c2c2c;
}

.invoice-shopping-money:before {
    content: "￥";
    font-size: 1.1rem;
    color: #2c2c2c;
}

.invoice-shopping-money:after {
    content: "元";
    font-size: 1rem;
    color: #2c2c2c;
}

.shopping-open-bottom-btn {
    width: 100%;
    background-color: white;
    height: 3rem;
    border-top: 1px solid #e6e6e6;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

.invoice-next-ntn {
    color: white;
    width: 5rem;
    height: 1.9rem;
    text-align: center;
    line-height: 1.9rem;
    border-radius: .9rem;
    text-decoration: none;
    background-color: #cdcdcd;
    float: right;
    margin: .4rem .6rem;
}

.invoice-next-ntn-yes {
    background-color: #ff9a18 !important;
}

.no-choice {
    width: 15rem;
    height: 9.4rem;
    background-color: rgba(0, 0, 0, .7);
    color: #efefef;
    text-align: center;
    position: fixed;
    top: 35vh;
    left: calc(50vw - 7.2rem);
    border-radius: .4rem;
    display: none;
}

.no-choice p {
    font-size: 1.2rem;
    line-height: 9.4rem;
    margin: 0;
}

/*===========================================*/
/*开票历史*/
/*===========================================*/
.no-invoice-history {
    width: 100%;
    height: 5rem;
    text-align: center;
    position: absolute;
    top: 35%;
    display: none; /*没有历史时显示*/
}

.no-invoice-history img {
    width: 3.5rem;
    height: 2.7rem;
}

.no-invoice-history p {
    margin: 1rem 0;
    font-size: .9rem;
    color: #a0a0a0;
}

.have-invoice-history {
    height: 100%;
    background-color: #f8f8f8;
    /*display: none;        !*有历史记录时显示*!*/
}

.have-invoice-history ul {
    margin: .2rem 0 0;
    padding: .5rem .6rem;

}

.have-invoice-history ul li {
    background-color: white;
    border-radius: .3rem;
    padding: .9rem .7rem .7rem;
    margin-bottom: .8rem;
}

.invoice-history-time:before {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    margin-right: .7rem;
    background-image: url("../img/clock.svg");
    background-size: cover;
}

.invoice-history-time {
    font-size: .7rem;
    color: #545454;
}

.invoiced {
    float: right;
    color: #fe881f;
    font-size: .8rem;
}

.have-invoice-history ul li p {
    font-size: .8rem;
    color: #545454;
    margin: .7rem 0;
}

.order-num {
    font-size: .8rem;
    color: #545454;
}

.order-num:before {
    content: "订单号：";
    font-size: .8rem;
    color: #545454;
}

.invoice-history-money {
    float: right;
    font-size: 1.1rem;
    color: #2c2c2c;
}

.invoice-history-money:before {
    content: "￥";
    font-size: 1.1rem;
    color: #2c2c2c;
}

.invoice-history-money:after {
    content: "元";
    font-size: 1rem;
    color: #2c2c2c;
}

/*================================================*/
/*开具发票*/
/*=================================================*/
.choice-type {
    background-color: #e6e6e6;
    /*height: 2.6rem;*/
    font-size: .9rem;
    color: #717171;
    line-height: 2.6rem;
    padding-left: .8rem;
}

.material-selection {
    padding: .8rem 0;
    border-bottom: .3rem solid #e6e6e6;
    display: flex;
    justify-content: space-around;
}

.material-selection a {
    display: block;
    width: 47vw;
    height: 1.9rem;
    border: 1px solid #ff9a18;
    text-align: center;
    line-height: 1.9rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #ff9a18;
}

/*.selection_a{
	 color: #ff9a18;
}*/
.perOrcom {
    display: none !important;
}

.isEmail {
    display: none !important;
}

.choice-title {
    display: flex;
    justify-content: space-around;
    padding: .8rem 0 .8rem .8rem;
}

.choice-title p {
    font-size: .9rem;
    color: #454545;
    margin: 0 auto 0 0;

}

.choice-title a {
    font-size: .9rem;
    text-decoration: none;
    width: 3.1rem;
    margin-right: .6rem;
    /*height: 1.6rem;*/
    display: block;
    border-radius: .8rem;
    text-align: center;
    line-height: 1.6rem;
    background-color: #ff9a18;
    color: white;

}

.chice-title-a {
    background-color: #FFFFFF !important;
    border: 1px solid #7f7f7f !important;
    color: #7f7f7f !important;
}

.drawer-info {
    padding: 0;
    margin: 0;
}

.drawer-info li {
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    padding-left: .9rem;
    display: flex;
}

.drawer-info li span {
    margin: 0;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 3.6rem;
    font-size: .9rem;
    color: #454545;
    text-align: justify;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.drawer-info-input {
    color: #646464;
    font-size: .7rem;
    border: none;
    margin-left: 1rem;
    outline: none;
}

/****************************/
.drawer-info-input::-webkit-input-placeholder {
    font-size: .7rem;
    color: #646464;
}

.drawer-info-input:-moz-placeholder {
    font-size: .7rem;
    color: #646464;
}

.drawer-info-input::-moz-placeholder {
    font-size: .7rem;
    color: #646464;
}

.drawer-info-input:-ms-input-placeholder {
    font-size: .7rem;
    color: #646464;
}

/*********************************************/
i {
    display: inline-block;
    width: 100%;
    height: 0;
}

.drawer-info-select {
    margin-left: 1rem;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: .7rem;
    color: #646464;
}

.drawer-info-money {
    font-size: .9rem;
    color: red;
    line-height: 2.5rem;
    margin: 0 0 0 1rem;
}

.drawer-info-money:after {
    content: "元";
    color: #7a7a7a;
    font-size: .7rem;
}

.bottom-collect-btn {
    width: 100vw;
    height: 2.5rem;
    background-color: white;
    position: fixed;
    bottom: 0;
}

#collect {
    width: calc(100% - 1.4rem);
    margin: .3rem .7rem;
    border-radius: .9rem;
    line-height: 1.9rem;
    color: white;
    background-color: #ff9a18;
    border: none;
    outline: none;
}