.right-btn {
    background-image: url("../img/transverse.svg");
}

.content {
    border-top: 1px solid #f6f6f6;
}

.goods {
    margin: .4rem .8rem;
    overflow: hidden;
    border-bottom: 1px solid #f6f6f6;
}

.goods img {
    float: left;
    border-radius: .3rem;
    width: 6.3rem;
}

.goods-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price .price-number {
    margin: 1.2rem 0 .5rem 0;
    line-height: 2.5rem;
}

.price {
    padding-bottom: .4rem;
    overflow: hidden;
}
