<!doctype html>
<html class="no-js" lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="application-name" content="开具电子发票">
    <title>开具电子发票</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

</head>


<body>
<!-- Add your site or application content here -->
<div class="top-space-low"></div>
<header style="background-color: white">
    <div class="top">
        <h1 class="head-title">阿童目客服</h1>
        <a class="back-btn" href="javascript:void(0)" onClick="javascript :history.back(-1);"></a>
    </div>
</header>
<section>
    <ul class="chat-record">
        <li class="rxd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>121245678556456464646546295644</p></div>
        </li>
        <li class="txd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>564451318616846aj深刻的反  思的是丢放缓士  大夫数据的  规范化建设的高房价84684</p></div>
        </li>
        <li class="rxd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>你好帅啊</p></div>
        </li>
        <li class="txd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>谢谢夸奖</p></div>
        </li>
        <li class="rxd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>测试一下emoji</p></div>
        </li>
        <li class="txd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>OK 😚☺😋😄😁🙃☹😭🦄🐰🐼🐭💂‍💖💘💝✈🛰🛳🚧🚦🚥🚜🚜🚎🚎🌂🌈🌠🎗🧵🥽👕</p></div>
        </li>
        <li class="txd">
            <img class="all-head" src="img/skirt1.png">
            <div class="all-center"><p>好了，不聊了，886</p></div>
        </li>
    </ul>
    <div class="chat-record-bottom-space"></div>
    <div class="input-line">
        <a href="#" class="emoji"></a>
        <input type="text" name="chat" id="chat" placeholder="">
        <a onclick=" openMore();" class="chat-more-btn-btn"></a>
    </div>
    <div class="chat-more-btn-block">
        <a onclick=" openOrde();" class="chat-more-btn"><img src="img/order.svg"></a>
        <a href="#" class="chat-more-btn"><img src="img/picture.svg"></a>
        <a href="#" class="chat-more-btn"><img src="img/camera.svg"></a>
        <a href="#" class="chat-more-btn"><img src="img/vedio.svg"></a>
        <span>我的订单</span>
        <span>相册</span>
        <span>拍照</span>
        <span>拍视频</span>
    </div>
</section>
<div class="choice-order-shade"></div>
<div class="choice-order">
    <ul>
        <li>
            <a onclick="closeChoice();" class="close-btn"></a>
            <p>请选择咨询的订单</p>
        </li>
        <!--<li style="height: 2.5rem"></li>-->
        <li>
            <img src="img/goods-1.png">
            <h6>微型迷你拼接小颗粒拼装积木拼插钻石益312312312312312312智玩具兼容乐高成人马里奥</h6>
            <span class="price-number">18.60</span>
            <a onclick="closeChoice();" class="send-btn">发送</a>
            <span class="choice-order-state">待付款</span>
        </li>
        <li>
            <img src="img/goods-1.png">
            <h6>微型迷你拼接小颗粒拼装积木拼插钻石益312312312312312312智玩具兼容乐高成人马里奥</h6>
            <span class="price-number">18.60</span>
            <a onclick="closeChoice();" class="send-btn">发送</a>
            <span class="choice-order-state">待付款</span>
        </li>
    </ul>

</div>
<script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
<script src="js/customerService.js"></script>
<script src="js/plugins.js"></script>

</body>

</html>
