<!doctype html>
<html class="no-js" lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="application-name" content="拼单专享">
    <title>拼单专享</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/exclusiveCollection.css">

</head>


<body>
<!-- Add your site or application content here -->
<div class="top-space-low"></div>
<header>
    <div class="top">
        <h1 class="head-title">拼单专享</h1>
        <a class="back-btn" href="JavaScript:history.back(-1)"></a>
    </div>
</header>
<section>
    <div class="exclusive-pdd">
        <img src="img/goods-1.png">
        <h6>微型迷你拼接小颗粒拼装积木拼插钻石益312312312312312312智玩具兼容乐高成人马里奥</h6>
        <span class="exclusive-pdd-number">1</span>
    </div>
    <div class="exclusive-partake">
        <span class="invite">再邀请<span class="invite-num">6</span>完成拼单</span>
        <div class="exclusive-pdd-head">
            <div class="join-exclusive-pdd-head"><img src="img/skirt1.png" ></div>
            <div class="no-join-exclusive-pdd-head">?</div>
            <div class="no-join-exclusive-pdd-head">?</div>
            <div class="no-join-exclusive-pdd-head">?</div>
            <div class="no-join-exclusive-pdd-head">?</div>
            <div class="no-join-exclusive-pdd-head">?</div>
        </div>
    </div>
    <a href="#" class="exclusive-pdd-btn">点击邀请好友拼单</a>
</section>
<script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
<script src="js/plugins.js"></script>
</body>

</html>
