<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<title></title>
	</head>
	<body>
		<div id="main">
			<div id="orderInfo_delive_head">
				<div id="" style="width: 100%;height: 0.6rem; background: transparent;">					
				</div>
				<div id="head_head" class="border-raduis-head">
					<input type="button" name="" id="" value="" onclick="javaScript:history.back(-1)" />
					<img src="img/skirt1.png"/>
					<span>已签收</span>
				</div>
				<div id="head_content" class="border-raduis-head">
					<ul>
						<li class="icon">
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i class="icon-quhuo"></i>
							</div>
							<div>
								收货地址**********
							</div>
						</li>
						<li class="icon">
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i class="icon-yiqianshou"></i>
							</div>
							<div>
								已签收
							</div>
						</li>
							<li class="icon">
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i class="icon-daiqujian"></i>
							</div>
							<div>
								待取件
							</div>
						</li>
							<li class="icon">
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i class="icon-paisongzhong"></i>
							</div>
							<div>
								派送中
							</div>
						</li>
							<li>
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i></i>
							</div>
							<div>
								快递已到达***下一站****
							</div>
						</li>
							<li>
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i></i>
							</div>
							<div>
								快递已到达***下一站****
							</div>
						</li>
						</li>
							<li class="icon">
							<div>
								11-30
								<span style="display: block;">
									14:34
								</span>
							</div>
							<div>
								<i class="icon-yifahuo"></i>
							</div>
							<div>
								卖家已发货     
							</div>
						</li>
					</ul>
				</div>
			</div>
		<div style="background-color: #f7f7f7;width: 100%;height: 1rem;"></div>
		</div>
	</body>
</html>
