<!doctype html>
<html class="no-js" lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="application-name" content="开具发票">
    <title>开具发票</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>


<body>

<div class="search-page">
    <div class="input-group">
        <div class="search-frame">
            <img src="img/search.svg">
            <input type="text" class="form-control" id="keywords" placeholder="提示内容...">
                <span class="input-group-btn">
				    <button class="btn btn-default" id="search" type="button"></button>
			    </span>
        </div>
        <a id="cancel" href="javascript:void (0)" onclick="window.opener=null; window.open('','_self');window.close();" >取消</a>
    </div>



<div  style="margin:1.8rem .8rem 0px .8rem;">


        <span class="bold-title">最近搜索</span>
        <span id="empty"></span>
        <div id="history" class="search-find-line search-find-first-line"></div>


    <span class="bold-title">搜索发现</span>
    <div class="search-find-first-line search-find-line">
            <a href="searchShow.html">儿童玩具</a><a href="searchShow.html">儿童玩具</a>
        </div>
        <div class="search-find-second-line search-find-line">
            <a href="searchShow.html">儿童玩具</a><a href="searchShow.html" >儿童玩具</a>
        </div>
        <span class="bold-title">常用分类</span>
        <div class="common-class">
            <a href="searchShow.html" >礼品专区</a>
            <a href="searchShow.html" >体智能</a>
            <a href="searchShow.html" >创意玩具</a>
            <a href="searchShow.html" >启蒙学习</a>
        </div>

</div>
</div>
<div class="association-li">
    <ul>
        <li>11111</li>
        <li>11111</li>
    </ul>
</div>
<script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/search.js"></script>

</body>

</html>
