<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <script src="./js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="css/all.css"/>
	</head>
	<body>
		<div id="main">
			<div class="main_head title_center main_head_positive main_head1">
		            购物车
			</div>
			<div class="main_content">
				<div id="blank_content">
					<img src="img/shCar/blank.png"/>					
					<p>购物车空空</p>
					<input type="button" class="again" value=" 去逛逛" />
			    </div>
		    </div>
		</div>
		</body>
	</html>
